@keyframes cloud-rotate-h {
    0% {
        transform:
        translateZ(50px)
        rotate(0deg);
    }
    50% {
        transform:
        translateZ(50px)
        rotate(180deg);
        width: 60%;
    }
    100% {
        transform:
        translateZ(50px)
        rotate(360deg);
    }
}