@keyframes cloud-rotate-h {
    0% {
        transform:
        translateZ(50px)
        rotate(0deg);
    }
    50% {
        transform:
        translateZ(50px)
        rotate(180deg);
        width: 60%;
    }
    100% {
        transform:
        translateZ(50px)
        rotate(360deg);
    }
}

@keyframes flash-background {
    0% {
        background-image: url("background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    10% {
        background-color: black;
    }
    20% {
        background-image: url("background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    30% {
        background-color: black;
    }
    50% {
        background-image: url("background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    80% {
        background-color: black;
    }

    90% {
        background-image: url("background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {
        background-color: black;
    }
}