@import "_button"

#mask
  position: absolute
  left: 0
  top: 0
  z-index: 9000
  background-image: url("background.png")
  background-repeat: no-repeat
  background-size: cover

#boxes .window
  position: absolute
  left: 0
  top: 0
  +size (440px 200px)
  display: none
  z-index: 9999
  padding: 20px
  border-radius: 15px
  text-align: center

#boxes #dialog
  +size (450px 150px)
  padding: 10px
  font-size: 35px
  color: white

#popupfoot
  font-size: 16pt
  position: relative
  bottom: 0px
