html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.btn {
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  display: inline-block;
  color: #e74c3c;
  border: 2px #e74c3c solid;
  background: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.btn:hover {
  color: #fff;
  background: #e74c3c;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

#start-btn {
  float: right; }

.btn-home {
  padding: 5px;
  display: inline-block;
  color: white; }

.btn-home:hover {
  background: #e74c3c;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: 2px #e74c3c solid;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.1); }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

li.toggle {
  border-top: 1px dotted white; }

.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
      cursor-user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-flat + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  border: 1.5px solid #f2f2f2;
  border-radius: 2em; }
  .tgl-flat + .tgl-btn:after {
    transition: all 0.2s ease;
    background: #f2f2f2;
    content: "";
    border-radius: 1em; }
.tgl-flat:checked + .tgl-btn {
  border: 1.5px solid; }
  .tgl-flat:checked + .tgl-btn:after {
    left: 50%;
    background: #7CCC63; }

#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000; }

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  width: 440px;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 15px;
  text-align: center; }

#boxes #dialog {
  height: 150px;
  width: 350px;
  padding: 10px;
  font-size: 35px;
  color: white; }

#popupfoot {
  font-size: 16pt;
  position: relative;
  bottom: 0px;
  width: 300px; }

path {
  fill: white;
  stroke: black;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle; }

polyline {
  opacity: 0.3;
  stroke: black;
  stroke-width: 2px;
  fill: none; }

.region:hover {
  fill: orange;
  box-shadow: 1px 0px 20px red; }

#tooltip {
  position: absolute;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font: 15px sans-serif;
  background: lightsteelblue;
  border: 1px;
  border-radius: 2px;
  pointer-events: none; }

#tooltip h4 {
  margin: 0;
  font-size: 14px; }

#tooltip {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
  width: auto;
  padding: 4px;
  color: white;
  opacity: 0; }

#tooltip table {
  table-layout: fixed; }

#tooltip tr td {
  padding: 0;
  margin: 0; }

#tooltip tr td:nth-child(1) {
  width: 50px; }

#tooltip tr td:nth-child(2) {
  text-align: center; }

.background {
  fill: white; }

@font-face {
  font-family: deadfont;
  font-style: normal;
  font-weight: normal;
  src: url("deadfont/TheDeadAreComing.eot?#iefix") format("embedded-opentype"), url("deadfont/TheDeadAreComing.woff2") format("woff2"), url("deadfont/TheDeadAreComing.woff") format("woff"), url("deadfont/TheDeadAreComing.ttf") format("truetype"), url("deadfont/TheDeadAreComing.svg#deadfont") format("svg"); }
body {
  font: 100% "Ubuntu", sans-serif;
  color: white;
  background: black;
  font-size: 36px; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.main {
  height: 600px;
  width: 600px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .main:last-child {
    margin-right: 0; }

#map {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  height: 400px;
  width: 400px; }
  #map:last-child {
    margin-right: 0; }

#side {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin: 5px; }
  #side:last-child {
    margin-right: 0; }

#side-nav {
  border: solid 1px white;
  border-radius: 10px;
  font-size: 18px;
  background: rgba(54, 25, 25, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  #side-nav .tg-list .tg-list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #side-nav .tg-list .tg-list-item p {
      flex: 7;
      margin: 3px; }
    #side-nav .tg-list .tg-list-item label {
      flex: 0 0 30px;
      margin-right: 8px; }

#info-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  float: right;
  font-size: 0.7em; }
  #info-box:last-child {
    margin-right: 0; }

#selectSection {
  text-align: center;
  position: relative;
  top: 50px; }

#select-btn {
  width: 200px; }

#infoList {
  font-size: 0.7em;
  float: left; }

#filter {
  text-align: center;
  color: #e74c3c;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 30px; }

#clouds {
  height: 500px;
  width: 500px;
  background-image: url("https://dl.dropboxusercontent.com/u/32750720/cloud-1.png"), url("https://dl.dropboxusercontent.com/u/32750720/cloud-2.png");
  background-position: 0 100%, 100% 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translateZ(50px);
  pointer-events: none;
  animation: cloud-rotate-h 160s linear infinite;
  transition: all 5s; }

#city-select {
  visibility: hidden; }

h1 {
  color: #e74c3c;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.2em; }

#legend {
  margin-top: 7px;
  margin-bottom: 10px;
  float: left; }

#bears {
  background: #65b6aa;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 2px;
  vertical-align: middle; }

#deer {
  background: #5b7d8d;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 2px;
  vertical-align: middle; }

#caribou {
  background: #add4a3;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 2px;
  vertical-align: middle; }

#goats {
  background: #4f2958;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 2px;
  margin-left: 8px;
  vertical-align: middle; }

#title {
  font: 100% deadfont;
  font-size: 1.6em;
  display: inline-block;
  position: relative;
  left: 50px;
  line-height: 20px;
  color: white; }

#board {
  font-size: 0.5em; }

#slider {
  position: relative;
  display: inline-block;
  bottom: 2px; }

#slider-box {
  position: absolute;
  left: 1100px;
  top: 50px;
  display: inline-block; }

#days {
  font: 100% deadfont;
  font-size: 1em;
  display: inline-block;
  position: relative;
  left: 250px;
  line-height: 20px;
  color: white; }

/*# sourceMappingURL=app.css.map */
